.LogoCompany {
  width: 35px;
  height: 35px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 3px 0;
  box-sizing: border-box;
  cursor: pointer;

  border-radius: 13px;
}

.LogoCompany div {
  width: 75%;
  height: 2.7px;
  margin: 1.8px;
  background-color: darksalmon;
  align-items: center;
}

.LogoCompany p {
  height: 35px;
  position: absolute;
  background-color: darksalmon;
  width: 3px;
  margin-left: -12px;
  margin-top: 9px;
}

.LogoCompany label {
  width: 85%;
  background-color: darksalmon;
  height: 2.7px;
  transform: rotate(33deg);
}
